<div class="jumbotron">
    <h1>FASTWS Version @typeof(FASTWSv1.WebApiApplication).Assembly.GetName().Version</h1>
    <p class="lead">FASTWS is the webservice for FASTrack, the new Fujitsu mobile application enabled asset tracking system .</p>
    <p><a href="https://github.com/GruMP-y/FASTWS/wiki/I.-FASTWS-Overview" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
